*{padding:  0; margin: 0; box-sizing: border-box; font-family: sans-serif;}


.heading1{
	padding-top:5rem;
	padding-bottom: 2rem;
	text-align: center;
	color: #e67e22;
	font-size: 2.5rem;
}
.nav1{

	width: 100%;
	height: 85px;
	color: white;
	background: #222f3e;
	display: flex;
	justify-content: space-around;
	align-items: center;
	
}
.nav1 i{
	margin:0 5px;

}
.text-align-center{
    text-left: 45%;

}
.nav1 a{
	text-decoration: none;
	color: white;
	padding: 5px 10px;
	background: #e67e22;
	margin: 0 5px;
	
}

.nav2{
	position: fixed;
	width: 100%;
	height: 10%;
	background: white;
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:  0px 70px;
	

}
.menu a{
	text-decoration: none;
	color: black;
	padding: 10px 10px;

}

.bg-img{
	width: 100%;
	height: 100vh;
	background:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0,0.3)),url('images/img-1.jpg');
	background-size: 100% 100%;
}

.bg-img1{
	width: 100%;
	height: 100vh;
	background-size: 100% 100%;
	background:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0,0.5)),url('images/img-2.jpg');
}
.box-container{
	width: 100%;
	height: 100%;
     background:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0,0.3));
}
.box{
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
}
.h-text{
	position: absolute;
	max-width: 600px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 25px;
    
}

.h-text h1{
	font-size: 2em;
   
}

.h-text p{
	font-size: 20px;
	margin: 25px 0;
	color: #ffffff;
	line-height: 35px;
}

.h-text a{
	text-decoration: none;
	color: white;
	background: #e67e22;
	padding:  3px;
	font-size: 20px;
}
/*------------------------Events-----------------------------------------------*/
.events{
    background: #000;
}

.events .box-container .box img{
    height: 10rem;
	
}
.events .box-container .box:hover {
   box-shadow:0 0 40px 0 #e67e22;
   transform: scale(1.1);  
   z-index: 1;
 
}

.events .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem,5fr));
    gap: 1.5rem;

}
.events .box-container .box{
    padding: 1rem ;
    text-align: center;
	transition: 3s; 
}
.events .box-container .box h3{
    font-size: 1.2rem;
    line-height: 1.5;
   color: #e67e22;
}

.events .box-container .box p{
    font-size: 1rem;
    line-height: 1.8;
    color:var(--light-color);
	color: #fff;
    padding:1rem 0;
}

.events .box-container .box a{
	text-decoration: none;
	background: #e67e22;
	color: #fff;
	padding: .5rem 1rem;
}

/*----------------------------------Strategy-------------------------------------*/
.strategy .box-container img{
     height: 30rem;
	 width: 65rem;
	 margin-left:6rem;
	 text-align: center;
}
/*----------------------------------About Us-------------------------------------*/
.about .box-container {
	background-color: #e67e22;
	color: #fff;
	
}	
.about .box-container .box p {
    padding: 3.8rem;
	
	line-height: 1.9;
}
.about .box-container .box h2{
	text-align: center;
	padding-top: 3rem;
}
/*-----------------------------------Footer--------------------------------------*/
.footer{
	background: #000;
	color: #fff;
	
}
.footer .box-container{
	padding: 5rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(3rem, 5fr));
	
}
.footer .box-container .box h3{
	font-size: 2.5rem;
	color: var(--black);
	padding: 1rem 0;
}

.footer .box-container .box .links{
	text-decoration:none;
	display: block;
	font-size: 1rem;
	color: var(--light-color);
	padding: 1rem 0;
}
.footer .box-container .box .links:hover i{
	padding-right: 2rem;
}


.footer .box-container .box p{
	line-height: 1.3;
	font-size: 1.5rem;
	color: var(--light-color);
	padding: 1rem 0;
}
.footer .box-container .box .share a{
	height: 2.8rem;
	width: 3rem;
	border-radius: 5rem;
	font-size: 2.3rem;
	color: var(--black);
	margin-right: .5rem;
	padding-top: .90rem;
	text-align: center;
	
}
.footer .box-container .box .share a:hover{
	padding-top: 1.5rem;
	background-color: #e67e22;
}

.footer .credit{
	text-align: center;
	padding-bottom: 2rem;
}
